<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/ECommerceSite.css" rel="stylesheet" />
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <script>
            $(document).ready(function () {
                $('.sidenav').sidenav();
                $(".dropdown-trigger").dropdown();
            });
        </script>
        <nav>
            <div class="nav-wrapper teal">
                <a href="#!" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Department", "Index", "Departments")</li>
                    <li>@Html.ActionLink("City", "Index", "Cities")</li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li>@Html.Partial("_LoginPartial")</li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Department", "Index", "Departments")</li>
            <li>@Html.ActionLink("City", "Index", "Cities")</li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="dropdown1" class="dropdown-content">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Department", "Index", "Departments")</li>
            <li>@Html.ActionLink("City", "Index", "Cities")</li>
        </ul>
    </header>

    <div class="container">
        @RenderBody()
        <hr />
        <div class="footer-copyright teal">
            <p class="white-text">&copy; @DateTime.Now.Year - E-Commerce</p>
        </div>
    </div>

    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>